@model Users;

@{
    ViewData["Title"] = "Title";
    ViewData["Name"] = "Name";
}

@*<div class="text-left">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Hello @Model._fName @Model._lName</p>
</div>*@
<table class="table">
    <thead>
        <tr>
            <th colspan="1">&#128420;</th>
            <th colspan="1" class="text-end">&nbsp</th>
            <th colspan="10">Name</th>
            <th colspan="1">Time</th>
            <th colspan="1">Plays</th>
            <th colspan="2">Artist</th>
        </tr>
    </thead>
   @* double cheveron icon*@
   @* <td colspan="1" class="text-end">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
        </svg>
    </td>*@
    <tbody>
        @foreach (Song song in Model.getAllSongs()){
            <tr>
                @if (!song.favourited()){
                    <td class="text-end">&nbsp;</td>
                }
                else{
                    <td>&#10084;</td>
                }
                <td class="text-end">&nbsp;</td>
                <td colspan="10">@song.title</td>
                <td colspan="1">@song.formatTime()</td>
                <td colspan="1">@song.plays</td>
                <td colspan="2">@song.artist</td>
            </tr>
        }
    </tbody>
</table>

<p>
    Hello @Model.UUID @Model.FIRST_NAME @Model.LAST_NAME
</p>

<style>

</style>